<!DOCTYPE html>
<html>
<head>
  <title>Recortable.net</title>
  <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
  <style>
  	html {background-color: #818176; color: #f9f9f9; border: 0; padding: 0;}
  	html * {margin: 0; padding: 0;}
  	h1 {margin-top: -0.6em; height: 1.2em;
  		font-family: 'Merriweather', arial, serif; font-size: 400%; background-color: #6e6c5e; 
		text-align: center; border-bottom: 1px solid #8e8e80;}
	#center {position: fixed; top: 50%; bottom: 0; left: 0; right: 0; }
  </style>
</head>
<body>
	<%= yield %>
</body>
</html>
